[submodule "RazorUIComponentLibrary"]
	path = RazorUIComponentLibrary
	url = https://github.com/bdalldorf/RazorUIComponentLibrary.git
[submodule "BDCSharpModels"]
	path = BDCSharpModels
	url = https://github.com/bdalldorf/BDCSharpModels.git
