@page "/"

<style type="text/css">
    td, h1, h2, h3, h4, h5, p, ul, ol, li {
        page-break-inside: avoid;
    }
</style>

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row p-2">
        <div class="col">
            <div class="card">
                <h5 class="card-header bg-dark text-white">Blazor Web Application</h5>
                <div class="card-body">
                    <div class="col-md-8 d-flex justify-content-left">
                        <ul>
                            <li>Microsoft Visual Studio Community 2022 (64-bit)</li>
                            <li>
                                .NET 8
                                <ul><li><a href="https://dotnet.microsoft.com/en-us/download/dotnet/8.0" target="_blank">Download .NET 8.0</a></li></ul>
                            </li>
                            <li>
                                Github:
                                <ul>
                                    <li>
                                        <a href="https://github.com/bdalldorf/BlazorServerApp" target="_blank">Blazor Server Application</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/bdalldorf/RazorUIComponentLibrary" target="_blank">Blazor Components Library</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
        </div>
    </div>
</div>