@page "/RemoveURLParameters"
@using System.Text;
@using QRCoder;

<h3>Remove URL Parameters</h3>

<div class="container">
    <div class="row p-2">
        <div class="col-md-12 d-flex justify-content-center"><input @bind="_URLTextToClean" placeholder="Paste URL here ..." alt="Paste URL here ..." maxlength="1000" style="width:100%;" /></div>
    </div>
    <div class="row p-2">
        <div class="col-md-12 d-flex justify-content-center"><button class="btn btn-primary" @onclick="RemoveURLParameter">Remove URL Parameters</button></div>
    </div>
</div>
<div class="row p-2">
    @if (@_URLWithRemovedParameters != string.Empty)
    {
        <div class="col-md-12 d-flex justify-content-center">
            <a href="@_URLWithRemovedParameters" class="btn btn-success" role="button" target="_blank">Open Link</a>
        </div>
    }
</div>
<div class="row p-2">
    @if (@_URLWithRemovedParameters != string.Empty)
    {
        <div class="col-md-12 d-flex justify-content-center text-wrap">@_URLWithRemovedParameters</div>
    }
</div>

@code {
    private string _URLTextToClean { get; set; } = string.Empty;
    private string _URLWithRemovedParameters { get; set; } = string.Empty;

    private void RemoveURLParameter()
    {
        string cleanURI = string.Empty;

        try
        {
            Uri uri = new Uri(_URLTextToClean);
            cleanURI = uri.GetLeftPart(UriPartial.Path);
        }
        catch (Exception exception)
        {

        }
        finally
        {
            _URLWithRemovedParameters = cleanURI;
        }
    }
}
